In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

path_s = "http://www.gaonchart.co.kr/main/section/chart/online.gaon?nationGbn=T&serviceGbn=ALL&targetTime="
path_m = "&hitYear="
path_e = "&termGbn=week"

In [3]:
tT_list = range(1, 53)
Year_list = range(2012, 2023)

In [4]:
pd.read_html(path_s + str(17) + path_m + str(2022) + path_e)[0]

,Ranking,Ranking.1,Title / Artist,Title / Artist.1,가온지수,Production,Share,Play
0,1,new,NaN,우리들의 블루스 임영웅|IM HERO,45590567,물고기뮤직 Dreamus,트위터 페이스북 웨이브,PLAY
1,2,1,NaN,봄여름가을겨울 (Still Life) BIGBANG (빅뱅)|봄여름가을겨울 (St...,39116835,YG Entertainment YG PLUS,트위터 페이스북 웨이브,PLAY
2,3,-,NaN,LOVE DIVE IVE (아이브)|LOVE DIVE,31042975,스타쉽엔터테인먼트 Kakao Entertainment,트위터 페이스북 웨이브,PLAY
3,4,2,NaN,TOMBOY (여자)아이들|I NEVER DIE,29998679,큐브엔터테인먼트 Kakao Entertainment,트위터 페이스북 웨이브,PLAY
4,5,1,NaN,Feel My Rhythm 레드벨벳(Red Velvet)|`The ReVe Fes...,25804630,SM Entertainment Dreamus,트위터 페이스북 웨이브,PLAY
...,...,...,...,...,...,...,...,...
195,196,60,NaN,미니카 (Drive) NCT DREAM|Glitch Mode - The 2nd A...,1888209,SM Entertainment Dreamus,트위터 페이스북 웨이브,PLAY
196,197,6,NaN,첫눈처럼 너에게 가겠다 에일리 (Ailee)|도깨비 OST Part 9,1887323,"Stone Music Entertainment, 화앤담픽쳐스 지니뮤직, Stone...",트위터 페이스북 웨이브,PLAY
197,198,1,NaN,마음을 드려요 아이유 (IU)|사랑의 불시착 OST Part 11,1883743,EDAM엔터테인먼트 Kakao Entertainment,트위터 페이스북 웨이브,PLAY
198,199,9,NaN,Don`t Start Now Dua Lipa|Don`t Start Now,1873672,Warner Records Warner Music,트위터 페이스북 웨이브,PLAY
199,200,54,NaN,어디에도 엠씨더맥스 (M.C The Max)|pathos,1871292,뮤직앤뉴 뮤직앤뉴,트위터 페이스북 웨이브,PLAY

In [38]:
import pandas as pd
import time

for Year in Year_list:
    for tT in tT_list:
        df = pd.read_html(path_s + str(tT) + path_m + str(Year) + path_e)[0]
        df.to_csv('gaon_chart/chart_'+str(Year)+'_'+str(tT)+'week.csv', index=False)
        time.sleep(1)
        if Year == 2022 and tT == 19:
            break

In [35]:
for Year in Year_list:
    for tT in tT_list:
        res = requests.get(path_s + str(tT) + path_m + str(Year) + path_e)
        soup = BeautifulSoup(res.content, 'html.parser')

        changes = soup.find_all('td', 'change')

        rank_change = list()
        for change in changes:
            if str(change.find('span')) != '<span>-</span>':
                rank_change.append(str(change.find('span')).split('\"')[1])
            else:
                rank_change.append('-')
        
        df = pd.DataFrame(rank_change)
        df.columns = ['rank_change']
        df.to_csv('gaon_rank/'+str(Year)+'_'+str(tT)+'.csv', index=False)

In [6]:
df_list = list()
for Year in Year_list:
    for tT in tT_list:
        res = requests.get(path_s + str(tT) + path_m + str(Year) + path_e)
        soup = BeautifulSoup(res.content, 'html.parser')

        singers = soup.find_all('p', 'singer')

        singer_list = list()
        for singer in singers:
            singer_list.append(singer.get_text())

        week_df = pd.DataFrame(singer_list)
        week_df.columns = ['singer']
        
        df_list.append(week_df)
        if Year == 2022 and tT == 18:
            break
        
singers_list = pd.concat(df_list)

AttributeError: ResultSet object has no attribute 'list'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [13]:
singers_list = singers_list.iloc[:71200]
singers_list

                                               singer
0                              티아라 (T-ara)|Funky Town
1    다이나믹 듀오 (Dynamic Duo)|Dynamic Duo 6th Diglog 2/2
2                                   다비치, 티아라|우리 사랑했잖아
3                트러블메이커 (Trouble Maker)|Trouble Maker
4                           이현 (에이트)|The Healing Echo
..                                                ...
195                             Ed Sheeran|÷ (Deluxe)
196                      아이유 (IU)|사랑의 불시착 OST Part 11
197                     John K|love + everything else
198                                  오반 (OVAN)|어떻게 지내
199                                      싸이 (Psy)|싸다9

[71200 rows x 1 columns]

In [14]:
singers_list = singers_list['singer'].apply(lambda x : x.split('|')[0])

In [16]:
singers_list = pd.DataFrame(singers_list)

                     singer
0               티아라 (T-ara)
1     다이나믹 듀오 (Dynamic Duo)
2                  다비치, 티아라
3    트러블메이커 (Trouble Maker)
4                  이현 (에이트)
..                      ...
195              Ed Sheeran
196                아이유 (IU)
197                  John K
198               오반 (OVAN)
199                싸이 (Psy)

[71200 rows x 1 columns]